<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.job.admin.dao.UserDao">
	
	<resultMap id="User" type="com.xxl.job.admin.core.model.User" >
		<result column="id" property="id" />
		<result column="name" property="name" />
	    <result column="account" property="account" />
	    <result column="password" property="password" />
	    <result column="salt" property="passwordSalt" />
	    <result column="role_id" property="roleId" />
	</resultMap>
	
	<select id="getByAccount" parameterType="String" resultMap="User">
        select * from tb_user where account=#{account}
    </select>

    <select id="getRoles" parameterType="String" resultType="String">
        select r.role from tb_user u,tb_role r where u.role_id= r.id and u.account=#{account}
    </select>

    <select id="getPermissions" parameterType="String" resultType="String">
        select p.permission 
        from tb_user u,tb_role_permission rp,tb_permission p 
        where u.role_id=rp.role_id and rp.permission_id=p.id and u.account=#{account}
    </select>
	
	<insert id="register" parameterType="com.xxl.job.admin.core.model.User" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO tb_user (name,account,password,salt,role_id) 
        VALUES (#{name},#{account},#{password},#{passwordSalt},#{roleId});
    </insert>
	
	
	<select id="pageList" parameterType="java.util.HashMap" resultMap="User">
		SELECT distinct u.id,u.name,u.account,u.role_id
		FROM tb_user u
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="roleId gt 0">
				AND u.role_id = #{roleId}
			</if>
			<if test="nameOrAccount != null and nameOrAccount != ''">
				AND u.name like CONCAT(CONCAT('%', #{nameOrAccount}), '%')
			</if>
			<if test="nameOrAccount != null and nameOrAccount != ''">
				OR u.account like CONCAT(CONCAT('%', #{nameOrAccount}), '%')
			</if>
		</trim>
		ORDER BY u.id DESC
		LIMIT #{offset}, #{pagesize}
	</select>
	
	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM tb_user u
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="roleId gt 0">
                AND u.role_id = #{roleId}
            </if>
            <if test="nameOrAccount != null and nameOrAccount != ''">
                AND u.name like CONCAT(CONCAT('%', #{nameOrAccount}), '%')
            </if>
            <if test="nameOrAccount != null and nameOrAccount != ''">
                OR u.account like CONCAT(CONCAT('%', #{nameOrAccount}), '%')
            </if>
        </trim>
	</select>

    <update id="update" parameterType="com.xxl.job.admin.core.model.User">
        update tb_user
        set 
            name = #{name},
            account = #{account},
            role_id = #{roleId}
        where id = #{id}
    </update>
    
    <update id="resetPassword" parameterType="com.xxl.job.admin.core.model.User">
        update tb_user
        set 
            password = #{password},
            salt = #{passwordSalt}
        where id = #{id}
    </update>
	

</mapper>